---
title: La Ferme du Quartier
---
<div class="wrapper text-center">
  <div class="name">Association la Ferme du Quartier</div>
  <div class="catchphrase">Pour la revalorisation des écosystèmes dans un monde sobre en carbone</div>
  <%= image_tag "banniere_lfdq.png", class: "banner_lfdq_img" %>
  <div class="buttons text-center">
    <%= link_to "Projet Ecoponie", "ecoponie.html", class: "btn-medium" %>
    <%= link_to "Cuisinons le futur", "ecoponie.html", class: "btn-medium" %>
  </div>
</div>

<div class="wrapper text-center">
  <h1>Ecoponie</h1>
  <div id="vocab">
    Ecoponie = <strong>Eco</strong>logie + <strong>Eco</strong>nomique + Acqua<strong>ponie</strong>
  </div>
  <div class="equation">
    <div><%= image_tag "apple.png", class: "icon-equation" %></div>
    <div class="calcul">+</div>
    <div><%= image_tag "009-sea-1.png", class: "icon-equation" %></div>
    <div class="calcul">=</div>
    <div><%= image_tag "plant.png", class: "icon-equation" %></div>
  </div>
  <div class="definition">
    Le projet Ecoponie met en oeuvre une symbiode de fonctionnement entre une production acquacole (des crustacés) et une production végétale.
  </div>
</div>


<h1>Principes clés</h1>
<div class="wrapper-principe text-center">
  <div class="process">
    <%= image_tag "cycle.png", class: "cycle" %>
  </div>

  <div class="guide-1-5">
    <div class="guide">
      <div class="etapes">1</div>
      <div class="etapes-txt">Matière organique recyclée</div>
    </div>
    <div class="guide">
      <div class="etapes">2</div>
      <div class="etapes-txt">Elevage d'homards</div>
    </div>
    <div class="guide">
      <div class="etapes">3</div>
      <div class="etapes-txt">Circuit fermé de l'eau</div>
    </div>
    <div class="guide">
      <div class="etapes">4</div>
      <div class="etapes-txt">Minéralisation de la matière organique</div>
    </div>
    <div class="guide">
      <div class="etapes">5</div>
      <div class="etapes-txt">Culture maraichère</div>
    </div>
  </div>
</div>


<div class="wrapper text-center">
</div>
<div class="wrapper text-center">
</div>




